@font-face {
    font-family: "Roboto Mono";
    src: url("../public/fonts/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../public/fonts/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../public/fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Lexend Deca";
    src: url("../public/fonts/LexendDeca-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}