span {
    font-size: 30px;
}

.recharts-wrapper>svg {
    outline: none;
}

[data-theme="light"] {
    --background-primary: 255, 251, 254;
    --text-primary: 231, 171, 208;
    --text-secondary: 185, 65, 137;
    --extra: 151, 121, 227;
    --errors: 92, 41, 84;
    --tooltip-background: 32, 33, 36;
}

[data-theme="dark"] {
    --background-primary: 14, 14, 14;
    --text-primary: 124, 126, 127;
    --text-secondary: 255, 153, 0;
    --extra: 192, 14, 19;
    --errors: 192, 14, 19;
    --tooltip-background: 198, 198, 198;
}

.correct-letter {
    color: rgb(var(--text-secondary));
}

.incorrect-letter {
    color: rgb(var(--errors));
}

.extra-letter {
    color: rgb(var(--extra));
}

.incorrect-word {
    text-decoration: underline;
    text-decoration-color: rgb(var(--errors));
}